* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "google sans regular";
    box-sizing: border-box;
    color: red;
}


header {
    background: rgb(37, 37, 37);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2PX 27px;
}

/* image styling */
.log img {
    border-radius: 34px;
    padding: 8PX 0;
}

.nav-bar ul {
    display: flex;
    font-size: 16px;
}

.nav-bar ul li {
    margin: 0 2px;
}

.nav-bar ul li a {
    display: block;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    transition: 0.3s;
    margin: o 5px;
}

.nav-bar ul li a:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width:560px) {
    * {
        padding: 0;
        margin: 0;
    }

    header {
        background: rgb(37, 37, 37);
        display: block;
        box-sizing: border-box;
        width: 100vw;
        height: fit-content;

    }

    .log img {
        display: block;
        /* border: 2px solid red; */
        margin: auto;
    }

    ul {
        /* border: 2px solid rgb(245, 239, 239); */
        display: flex;
        justify-content: center;

    }

    .nav-bar ul li a {
        /* border: 2px solid black; */
        font-size: 12px;
    }
}

/* test for other screen respons */
@media only screen and (max-width:280px) {
    * {
        padding: 0;
        margin: 0;
    }

    header {
        background: rgb(37, 37, 37);
        display: block;
        box-sizing: border-box;
        width: 100vw;
        height: fit-content;
    }

    .nav-bar ul li a {
        /* border: 2px solid black; */
        font-size: 8px;
        padding: auto;
    }

    .nav-bar {
        /* border: 2px solid rgb(5, 212, 248); */
        justify-content: space-evenly;
    }

    header::before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        background: url('./photo/bgphoto.jpg') no-repeat center center/cover;
        top: 0;
        left: 0;
        height: 50%;
        width: 100vw;
        z-index: -1;
        opacity: .3;
    }

}

maquee :start here marquee h1 {
    color: green;
    background: rebeccapurple;
}

.main-body {
    display: grid;
    /* border: 2px solid rgb(236, 8, 8); */
    background: rgb(197, 163, 231);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 1fr;
    grid-row-gap: 2fr;
}

.main-body a img {
    height: 80%;
    display: block;
}

.main-body a {
    border: 2px solid rgb(236, 8, 8);
    margin: 0.76rem;
    padding: 1rem;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* :hover */
.main-body a:hover {
    transform: scale(1.1);
    transition: .3s;
    background-color: rgb(162, 180, 180);
}

.main-body a h2 {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: capitalize;
}

.main-body a h2:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width:500px) {
    .main-body a img {
        display: block;
        height: 50%;
    }
    .main-body
    {
        background: yellowgreen;
    }
}

/* footer */

footer {
    background: rgb(37, 37, 37);
    display: flex;
    padding: 2PX 27px;
    justify-content: space-between;
    align-items: center;
}

.left {
    /* border: 2px solid red; */

}

.right {

    /* border: 2px solid red; */
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;

}

.right h2 {
    color: white;
}

.left a img {
    margin: 0 12px;

}

.left a img:hover {
    transform: scale(1.1);

}
@media only screen and (max-width:500px)
{
    .left
    {
        display: none;
    }
    .right
    {
        font-size: 10px;
    }

}
