* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    /* background: rgb(175, 145, 204); */
}

header {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.log {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    /* border: 2px solid red; */
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: bold;
    transition: .3s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: white;
}

.nav-bar ul li a.active {
    color: black;
    background: white;
}

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50px;
        background: black;
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
        /* background: red; */
    }
}

@media only screen and (max-width:749px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }


    .nav-bar {
        height: 0;
        position: absolute;
        /* cursor: pointer; */
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        overflow: visible;

    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: red;
    }
}

/* innner body start form here */

marquee {
    /* margin-top: 1px;
    margin-bottom: 1px; */
    background: rgb(212, 118, 118);
    height: fit-content;
    padding: 12px auto;
    font-size: 23px;
    border-radius: 5px;
}
marquee h3
 {
    text-transform: capitalize;
    font-weight: bold;
 }

.middel-body .middel-item {
    border: 2px solid rgb(246, 252, 246);
    border-radius: 18px;
}
.middel-item:hover
{
    transform: scale(1.07);
}

.middel-body {
    margin: 0%;
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    background: gray;
    /* border: 2px solid red; */
}
@media only screen and (max-width:999px)
{
    .middel-body
    {

        grid-template-columns: repeat(2, 1fr);
    }
    marquee
    {
        /* color: red; */
    }
}
@media only screen and (max-width:690px)
{
    .middel-body
    {

        grid-template-columns: repeat(1, 1fr);
    }
    marquee
    {
        color: red;
    }
}


.middel-item a
{
    
    display: block;
    text-align: center;
    padding: 8px;
}
.middel-item a h2
{
    display: block;

}


/* footer :start header */
footer
{
    background-color: #11101b;
}
.left
{
    padding-left: 34px;
    display: flex;
    align-items: center;
}
.left a img 
{
    padding: 0 18px;
}
.left a img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;;
} 
.right 
{
    /* border: 2px solid white; */
    margin: auto;
}
.right .h2
{
font-size: 20PX;
/* text-align: center; */
/* border: 2px solid red; */
text-decoration: none;
color: rgb(253, 251, 251);
text-transform: capitalize;
font-weight: bold;
}
.right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer
{
    display: grid;
    grid-gap: 16px;
    padding: 8px 16px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #11101b;
}
.footer-text{
    font-size: 16px;
}
@media only screen and (max-width:800px)
{
    footer
    {
        background-color: #15cc43;
        
        grid-template-columns: repeat(1, 1fr);
    }
    
   
}
